<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - PAGE NOT FOUND</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">

    <style>
        body{
            margin: 0;
            padding: 0;
        }

        #main{
            margin: 20% auto;
            width: 50%;
            text-align: center;
            font-family: 'Merriweather Sans', sans-serif;
        }
 
        p{
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div id="main">
    <h1>404 - PAGE NOT FOUND</h1>
    <p>
        Return to <a href="/">Main Page</a>
    </p>
    </div>
</body>
</html>